# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# env
.env
.env.production
.env.*.local

# editor / os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
